# Dependencies
node_modules/

# Testing
coverage/

# Next.js build
.next/
out/

# Backend build
build/

# Vercel
.vercel/

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
.DS_Store
*.pem

# Env
.env*
